@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  box-sizing: border-box;
}
.page {
  background: #333;
}
html, body, .page {
  margin: 0;
  width: 100%;
  height: 100%;
}
.slider-wrapper {
  background: #212121;
  background: linear-gradient(to bottom, #212121 0%, #262626 100%);
}
.slider-container {
  width: 380px;
  margin: 0 auto;
  padding: 60px 0;
}
.slider {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}
.slider__viewport {
  border-radius: 2px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  overflow: hidden;
}
.slider__slides {
  display: flex;
  box-sizing: content-box;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}
.slider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  font-size: 18px;
  background: transparent;
}
#slider-1 .slider__slide {
  height: 400px;
}
.nuance-1 {
  background: #D6A465;
}
.nuance-2 {
  background: #A37041;
}
.nuance-3 {
  background: #D69F66;
}
.nuance-4 {
  background: #895734;
}
.nuance-5 {
  background: #98d6df;
}

.slider__button--prev,
.slider__button--next {
  display: inline-block;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  line-height: 54px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
  transition: box-shadow 0.3s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 50;
}

.slider__button--prev i,
.slider__button--next i {
    display: inline-block;
    width: inherit;
    color: rgba(255, 255, 255, 0.8);
    line-height: 54px;
    text-align: center;
  }

.slider__button--prev:hover,
.slider__button--next:hover {
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21),
      0 16px 28px 0 rgba(0, 0, 0, 0.22);
  }

.slider__button--prev {
  left: -27px;
}

.slider__button--next {
  right: -27px;
}

.slider__nav {
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 50; 
}
.slider__nav li {
  display: inline-block;
  margin: 0 6px;
  zoom: 1;
}

.slider__nav li a {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgba(230, 126, 33, 0.6);
  cursor: pointer;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.slider__nav li a.active {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.hidden {
  display: none;
}

@media (min-width:670px) {
  .slider-container {
    width: 600px;
  }
}

@media (min-width:1040px) {
  .slider-container {
    width: 968px;
  }
}

@media (min-width:1270px) {
  .slider-container {
    max-width: 1200px;
  }
}